<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974936654052-ct7fpv4duspuld7p5bi43hc88kh6ig3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974936654052-ct7fpv4duspuld7p5bi43hc88kh6ig3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCvz5uD0o4IU39Sr2Wuhqm8su9pdkmo4wM</string>
	<key>GCM_SENDER_ID</key>
	<string>974936654052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-c1f32</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-c1f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974936654052:ios:967832338cdc8e7d3c6cf1</string>
</dict>
</plist>